<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to flask sriram</h1>
    <form action ='/submit' method='post'>
        <!-- id is used for the css,js (and) the server and flask used by name  -->
        <lable for="science">science</lable><br>
        <input type='text' id="science" name="science" ><br>
        <lable for="maths">maths</lable><br>
        <input type='text' id="maths" name="maths" ><br>
        <lable for="stat">stat</lable><br>
        <input type='text' id="stat" name="stat" ><br>
        <lable for="logic">logic</lable><br>
        <input type='text' id="logic" name="logic"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>
